@use '../../helpers' as *;

.articles-about-activities {

  &_info {

    &__title {
      font-size: rem(20);
      margin-bottom: rem(30);

      @include tablet {
        font-size: rem(18);
      }

      @include mobile {
        margin-bottom: rem(20);
      }
    }

    &__list {
      gap: rem(20);

      @include mobile {
        gap: rem(15);
      }
    }

    &__persons {
      font-size: rem(22);
      margin-bottom: rem(10);

      @include tablet {
        font-size: rem(18);
      }
    }

    &__link {
      margin-bottom: rem(15);
    }

    &__file-info {
      font-size: rem(16);
      color: var(--color-gray);

      @include tablet {
        font-size: rem(14);
      }
    }
  }
}