@use '../../helpers' as *;

.cluster-members {
  --value: #{rem(20)};

  @include tablet {
    --value: #{rem(15)};
  }

  @include tablet {
    --value: #{rem(10)};
  }

  &__item {

    .accordion__hidden-wrapper::before {
      display: none;
    }
  }

  &__header {
    gap: var(--value);

    @include mobile {
      gap: rem(8);
      font-size: rem(16);
    }

    i {
      margin-left: auto;
    }
  }

  &__header span {
    font-size: rem(16);
  }

  &__info {
    margin-top: var(--value);
    max-width: rem(985);

    @include mobile {
      padding-bottom: rem(5);
    }
  }
}