@use '../../helpers' as *;

.cluster-members {
  --value: #{rem(20)};

  @include tablet {
    --value: #{rem(15)};
  }

  @include tablet {
    --value: #{rem(10)};
  }

  &__item {

    .accordion__hidden-wrapper {
      display: grid;
      grid-template-columns: 325fr 645fr;
      gap: var(--value);

      @include tablet {
        grid-template-columns: 263fr 512fr;
      }

      @include mobile {
        grid-template-columns: 1fr;
        gap: 0;
      }

      &::before {
        display: none;
      }
    }
  }

  &__header {
    gap: var(--value);

    @include mobile {
      gap: rem(8);
      font-size: rem(16);
    }

    i {
      margin-left: auto;
    }
  }

  &__header span {
    font-size: rem(16);
  }

  &__img-container, &__info {
    margin-top: var(--value);
  }

  &__img-container {
    background: var(--color-light-alt);
    position: relative;
    aspect-ratio: 325/213;

    img {
      --width-val: #{rem(14)};

      @include abs-center;

      width: 100%;
      height: 100%;
      object-fit: contain;
      max-height: calc(100% - #{var(--width-val)} * 2);
      max-width: calc(100% - #{var(--width-val)} * 2);

      @include tablet {
        --width-val: #{rem(25)};
      }
    }
  }

  &__info {

    @include mobile {
      padding-bottom: rem(5);
    }
  }
}