@use '../../helpers' as *;

.contacts-page {

  &_about {
    margin-bottom: rem(50);

    @include mobile {
      margin-bottom: rem(40);
    }

    &__title {
      margin-bottom: rem(15);
    }

    &__row, &__row-2, &__row-3 {
      font-size: rem(18);
      margin-bottom: rem(30);

      @include mobile {
        font-size: rem(16);
      }
    }

    &__row {
      display: grid;
      grid-template-columns: 1fr rem(345);
      gap: rem(20);

      @include tablet {
        grid-template-columns: 1fr;
        gap: rem(15);
      }

      @include mobile {
        gap: rem(20);
      }
    }

    &__left {
      display: flex;
      flex-direction: column;
      gap: rem(15);
    }

    &__right {
      display: grid;
      grid-template-columns: 1fr;
      gap: rem(15);

      @include tablet {
        grid-template-columns: repeat(3, 1fr);
      }

      @include mobile {
        grid-template-columns: 1fr;
        gap: rem(20);
      }
    }

    &__row-2 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: rem(20);

      @include tablet {
        gap: rem(15);
      }

      @include mobile {
        grid-template-columns: 1fr;
        gap: rem(20);
      }
    }

    &__column-2 {
      display: flex;
      flex-direction: column;
      gap: rem(15);

      @include mobile {
        gap: rem(20);
      }
    }

    &__row-3 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: rem(15);
      row-gap: rem(30);

      @include tablet {
        row-gap: rem(25);
      }

      @include mobile {
        row-gap: rem(30);
      }

      &__item {

        &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4)  {
          grid-column: 1/4;
        }

        &:nth-child(3) {

          @include tablet {
            grid-column: 1/2;
          }

          @include mobile {
            grid-column: 1/4;
          }
        }

        &:nth-child(4) {

          @include tablet {
            grid-column: 2/4;

            .contacts-page_about__row-3__list {
              grid-template-columns: repeat(2, 1fr);
            }
          }

          @include mobile {
            grid-column: 1/4;
          }
        }
      }

      &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: rem(20);

        @include tablet {
          gap: rem(15);
        }

        @include mobile {
          grid-template-columns: 1fr !important;
          gap: rem(20);
        }
      }

      &__title {
        font-size: rem(16);
        margin-bottom: rem(10);

        @include mobile {
          font-size: rem(14);
        }
      }
    }

    &__subtitle {
      font-size: rem(16);
      color: var(--color-gray);
      margin-bottom: rem(5);

      @include mobile {
        font-size: rem(14);
      }
    }

    &__list-block {
      display: flex;
      flex-direction: column;
      gap: rem(8);
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: rem(3);
      padding-left: rem(25);
      list-style-type: disc;

      @include mobile {
        font-size: rem(14);
      }
    }

    &__sublist {
      display: flex;
      flex-direction: column;
      gap: rem(3);
    }

    &__tel span {
      color: var(--color-gray);
    }

    &__map {
      width: 100%;
      height: auto !important;
      aspect-ratio: 1075/500;

      @include tablet {
        aspect-ratio: 820/400;
      }

      @include mobile {
        aspect-ratio: 350/200;
      }
    }
  }

  &_details {

    &__title {
      margin-bottom: rem(20);
    }

    &__list {
      margin-bottom: rem(30);
    }

    &__item {
      display: grid;
      grid-template-columns: rem(345) 1fr;
      gap: rem(20);
      padding-block: rem(20);
      border-bottom: var(--border);
      align-items: center;

      @include tablet {
        grid-template-columns: rem(258) 1fr;
        padding-block: rem(15);
      }

      @include mobile {
        grid-template-columns: 1fr;
        gap: rem(5);
        padding-block: rem(10);
      }

      &:first-child {
        border-top: var(--border);
      }

      ul {
        list-style-type: none;
        padding: 0;
      }
    }

    &__text {
      font-size: rem(18);

      @include tablet {
        font-size: rem(16);
      }

      @include mobile {
        font-size: rem(14);
      }
    }

    &__btn {
      padding-inline: rem(32);

      @include tablet {
        padding-inline: rem(19);
      }

      @include mobile {
        width: 100%;
      }

      a {
        color: var(--color-light);
      }
    }
  }
}