@use '../../helpers' as *;

.cooperation-with-national {

  &_about, &_info, &_representative {
    margin-bottom: rem(50);

    @include tablet {
      margin-bottom: rem(40);
    }
  }

  &_about {

    &__list-block {
      gap: rem(15);

      @include mobile {
        gap: rem(12);
      }
    }
  }

  &_info {

    &__text {
      font-size: rem(20);

      @include tablet {
        font-size: rem(18);
      }

      @include mobile {
        font-size: rem(14);
      }
    }
  }
}