@use '../../helpers' as *;

.international-cooperation {

  &_info {
    margin-bottom: rem(50);

    @include tablet {
      margin-bottom: rem(40);
    }

    @include mobile {
      margin-bottom: rem(30);
    }

    &__text {

      &:not(:last-child) {
        margin-bottom: rem(20);

        @include tablet {
          margin-bottom: rem(15);
        }

        @include mobile {
          margin-bottom: rem(10);
        }
      }
    }
  }

  &_gallery {

    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: rem(20);

      @include tablet {
        gap: rem(15);
      }

      @include mobile {
        grid-template-columns: 1fr;
      }
    }

    &__item {
      display: flex;
      flex-direction: column;
    }

    &__img-container {
      width: 100%;
      aspect-ratio: 528/600;
      margin-bottom: rem(20);

      @include tablet {
        aspect-ratio: 402/400;
        margin-bottom: rem(15);
      }

      @include mobile {
        aspect-ratio: 350/350;
        margin-bottom: rem(10);
      }

      img {

        @include tablet {
          object-position: center 35%;
        }
      }
    }

    &__content {
      gap: rem(8);
      font-size: rem(20);
      flex-grow: 1;

      @include tablet {
        gap: rem(5);
        font-size: rem(18);
      }

      @include mobile {
        gap: rem(3);
        font-size: rem(16);
      }
    }

    &__top {
      flex-grow: 1;
    }

    &__name {
      margin-bottom: rem(10);

      @include tablet {
        margin-bottom: rem(8);
      }

      @include mobile {
        margin-bottom: rem(5);
      }
    }

    &__email a {
      color: var(--color-accent);
    }
  }
}