@use '../../helpers' as *;

.standard {

  &__table-wrapper {

    @include mobile {
      overflow-x: auto;
      padding-bottom: rem(20);
      scrollbar-width: none;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__table {
    border-collapse: collapse;
    border-top: var(--border);
    table-layout: fixed;

    @include mobile {
      width: fit-content;
      min-width: 100%;
      table-layout: auto;
    }

    thead tr:first-child {
      th:nth-child(1) { width: 31.48%; }
      th:nth-child(2) { width: 25.2%; }
      th:nth-child(3), th:nth-child(4) {width: auto}
    }

    @include tablet {
      thead tr:first-child {
        th:nth-child(1) { width: 31.46%; }
        th:nth-child(2) { width: 25.12%; }
      }
    }

    th, td {
      --padding: #{rem(20)};

      border-bottom: var(--border);
      border-left: var(--border);
      padding: var(--padding);
      text-align: left;
      vertical-align: middle;

      @include tablet {
        --padding: #{rem(15)};
      }

      @include mobile {
        --padding: #{rem(10)};

        min-width: 78vw;
      }
    }

    thead th {
      text-align: center;
    }

    thead tr:first-child th:first-child {
      text-align: left;
      border-left: none;
      padding-left: 0;
    }

    tbody td:first-child {
      padding-left: 0;
    }

    tbody th, tbody td {
      &:first-child {
        border-left: none;
      }
    }

    .fs-16-14-14 {
      word-break: break-all;
      hyphens: auto;
      text-align: center;

      @include tablet {
        padding: 7px;
      }
    }

    @include tablet {
      thead tr:first-child th:nth-child(2) {
        text-align: left;
      }
    }

    tbody td {
      &:nth-child(2),
      &:nth-child(3) {
        text-align: center;
      }
    }
  }

  &__pagination {
    gap: rem(5);

    span {
      @include square(7);

      background: var(--color-gray);
      border: var(--border-alt);
      border-radius: 50%;

      &.is-active {
        background: var(--color-accent);
        border-color: var(--color-accent);
      }
    }
  }

  &__gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(20);

    &-item {

      &.horizontal {

        .standard__img-container {
          aspect-ratio: 710/500 !important;
        }

        @include tablet {
          grid-column: 1/3;

          .standard__img-container {
            aspect-ratio: 820/400 !important;
          }
        }

        @include mobile {
          .standard__img-container {
            aspect-ratio: 350/200 !important;
          }
        }
      }

      @include mobile {
        grid-column: 1/3;
      }
    }
  }

  &__img-container {
    width: 100%;
    aspect-ratio: 710/800;
    margin-bottom: rem(15);

    @include tablet {
      aspect-ratio: 403/500;
    }

    @include mobile {
      margin-bottom: rem(10);
      aspect-ratio: 350/400;
    }
  }
}