@use '../../helpers/index' as *;

.victory-forest {

  &_about {
    margin-bottom: rem(50);

    @include tablet {
      margin-bottom: rem(40);
    }

    @include mobile {
      margin-bottom: rem(30);
    }

    &__text {

      &:not(:last-child) {
        margin-bottom: rem(20);

        @include tablet {
          margin-bottom: rem(15);
        }

        @include mobile {
          margin-bottom: rem(10);
        }
      }
    }
  }
}