@use 'helpers' as *;

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  @include visually-hidden;
}

.hidden-laptop {
  @include laptop {
    display: none !important;
  }
}

.visible-laptop {
  @include laptop-above {
    display: none !important;
  }
}

.hidden-laptop-s {
  @include laptop-s {
    display: none !important;
  }
}

.visible-laptop-s {
  @include laptop-s-above {
    display: none !important;
  }
}

.hidden-tablet {
  @include tablet {
    display: none !important;
  }
}

.visible-tablet {
  @include tablet-above {
    display: none !important;
  }
}

.hidden-tablet-s {
  @include tablet-s {
    display: none !important;
  }
}

.visible-tablet-s {
  @include tablet-s-above {
    display: none !important;
  }
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}

.img-container {
  @include flex-center();

  overflow: hidden;

  img, video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  svg {
    max-width: 70%;
    max-height: 70%;
  }
}

.recolor-svg {
  svg {
    &[stroke]:not([stroke="none"]),
    *[stroke]:not([stroke="none"]) {
      stroke: currentColor !important;
    }

    &[fill]:not([fill="none"]),
    *[fill]:not([fill="none"]) {
      fill: currentColor !important;
    }

    path,
    circle,
    rect,
    polygon,
    polyline,
    line,
    ellipse {
      &[stroke]:not([stroke="none"]) {
        stroke: currentColor !important;
      }
      &[fill]:not([fill="none"]) {
        fill: currentColor !important;
      }
    }
  }
}

.hover-color-accent {
  transition: color var(--transition-duration);

  @include hover() {
    color: var(--color-accent) !important;
  }
}

.is-disabled {
  pointer-events: none;
}

.color-link {
  color: var(--color-accent) !important;

  &:not([class*="mb-"]) {
    display: inline;
  }
}
.line-link {
  text-decoration: underline !important;
}

.mb-20-15-10:not(:last-child) {
  margin-bottom: rem(20);

  @include tablet {
    margin-bottom: rem(15);
  }

  @include mobile {
    margin-bottom: rem(10);
  }
}

.mb-50-50-40:not(:last-child) {
  margin-bottom: rem(50);

  @include mobile {
    margin-bottom: rem(40);
  }
}

.mb-10:not(:last-child) {
  margin-bottom: rem(10);
}
.mb-15:not(:last-child) {
  margin-bottom: rem(15);
}

.mb-10-8-8:not(:last-child) {
  margin-bottom: rem(10);

  @include tablet {
    margin-bottom: rem(8);
  }
}

.mb-20-15-15:not(:last-child) {
  margin-bottom: rem(20);

  @include tablet {
    margin-bottom: rem(15);
  }
}

.mb-15-10-10:not(:last-child) {
  margin-bottom: rem(15);

  @include tablet {
    margin-bottom: rem(10);
  }
}

.mb-8-5-5:not(:last-child) {
  margin-bottom: rem(8);

  @include tablet {
    margin-bottom: rem(5);
  }
}

.mb-10-5-5:not(:last-child) {
  margin-bottom: rem(10);

  @include tablet {
    margin-bottom: rem(5);
  }
}

.mb-50-30-30:not(:last-child) {
  margin-bottom: rem(50);

  @include tablet {
    margin-bottom: rem(30);
  }
}

.mb-10-8-6:not(:last-child) {
  margin-bottom: rem(10);

  @include tablet {
    margin-bottom: rem(8);
  }

  @include mobile {
    margin-bottom: rem(6);
  }
}

.mb-80-80-50:not(:last-child) {
  margin-bottom: rem(80);

  @include mobile {
    margin-bottom: rem(50);
  }
}

.mb-20-20-15:not(:last-child) {
  margin-bottom: rem(20);

  @include mobile {
    margin-bottom: rem(15);
  }
}

.mb-20-30-20:not(:last-child) {
  margin-bottom: rem(20);

  @include tablet {
    margin-bottom: rem(30);
  }

  @include mobile {
    margin-bottom: rem(20);
  }
}

.size-info {
  font-size: rem(16);
  color: var(--color-gray);
  display: block;

  @include tablet {
    font-size: rem(14);
  }
}

.fs-16-14-14 {
  font-size: rem(16);

  @include tablet {
    font-size: rem(14);
  }
}