@use '../helpers' as *;

.footer {
  background: var(--color-accent);
  color: var(--color-light);
  margin-top: rem(80);

  @include tablet {
    margin-top: rem(60);
  }

  @include mobile {
    margin-top: rem(40);
  }

  &__inner {
    padding-block: rem(30);

    @include tablet-s {
      padding-block: rem(20);
    }

    a {
      color: var(--color-light) !important;
    }
  }

  &__top, &__row, &__bottom {
    display: grid;
    grid-template-columns: 472fr 485fr 230fr;
    column-gap: rem(127);

    @include laptop {
      grid-template-columns: repeat(2, 1fr);
      gap: rem(62);
      justify-content: space-between;
    }

    @include tablet-s {
      display: block;
    }
  }

  &__top {
    margin-bottom: rem(40);

    @include mobile {
      margin-bottom: rem(30);
    }
  }

  &__logo {
    width: rem(291);

    @include laptop {
      width: rem(209);
    }

    @include mobile {
      width: rem(170);
    }
  }

  &__name {
    font-size: rem(17);

    @include laptop {
      font-size: rem(16);
    }

    @include mobile {
      font-size: rem(14);
    }
  }

  &__title {
    font-size: rem(20);

    @include tablet-s {
      font-size: rem(18);
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &:not(.contacts-title) {
      margin-bottom: rem(30);
    }

    &.contacts-title {
      margin-bottom: rem(10);

      @include mobile {
        margin-bottom: rem(30);
      }
    }
  }

  &__links {
    &-list.one-column {
      display: flex;
      flex-direction: column;
      gap: 15px;

      @include laptop {
        flex-direction: row;
        gap: rem(30);
      }
    }

    .main-links-list, .additional-links-list {

      @include tablet-s-above {
        display: block;
        column-count: 2;
      }

      .footer__links-item {
        break-inside: avoid;

        @include tablet-s-above {
          margin-bottom: rem(15);
        }
      }
    }

    .main-links-list {

      @include laptop {
        column-gap: rem(15) !important;
      }

      @include tablet-s-above {
        column-gap: rem(30);
      }
    }

    .additional-links-list {

      @include laptop-above {
        white-space: nowrap;
      }

      @include laptop {
        column-gap: rem(18);
      }
    }

    &-item {

      @include tablet-s {

        &:not(:last-child) {
          margin-bottom: rem(12);
        }
      }
    }

    &-link {
      font-size: rem(16);
      gap: rem(10);
      text-align: left;

      svg {
        min-width: rem(20);
      }
    }
  }

  &__contacts {

    @include mobile-above {
      margin-top: 40px;
      padding-top: 40px;
      border-top: 1px solid var(--color-light);
    }

    @include tablet-s {
      display: block;
    }
  }

  &__bottom {
    align-items: end;
    font-size: rem(16);

    @include tablet-s {
      row-gap: rem(12);
    }

    &-left, &-center {
      align-items: end;

      @include tablet-s {
        display: contents;
      }
    }

    &-left {
      column-gap: rem(60);
      width: fit-content;

      @include laptop {
        column-gap: rem(47);
      }
    }

    &-center {
      column-gap: rem(60);

      @include laptop {
        column-gap: rem(25);
      }
    }

    &-right {
      color: #B2C0CD;
      font-size: 14px;
      gap: rem(6);

      a {
        color: currentColor !important;
      }
    }
  }

  &__btn {
    width: rem(183);

    @include laptop {
      width: rem(163);
    }

    a {
      color: var(--color-dark) !important;
      text-decoration: none;

      @include tablet-s {
        color: var(--color-accent) !important;
      }
    }
  }

  &__tels {
    row-gap: rem(13);
    white-space: nowrap;

    @include tablet-s {
      row-gap: rem(12);
    }
  }

  &__soc1als {
    row-gap: 13px;

    &-list {
      gap: rem(10);
    }
  }

  &__foot {
    gap: rem(30);
    color: #B2C0CD;
    font-size: 14px;
    margin-top: rem(60);

    a {
      color: currentColor !important;
    }

    @include mobile-above {
      align-items: center;
    }

    @include mobile {
      flex-direction: column;
      gap: rem(5);
      font-size: rem(13);
      margin-top: rem(30);
      padding-top: rem(30);
      border-top: 1px solid #B2C0CD;
    }
  }

  ul {

    @include mobile {
      padding-bottom: rem(30);
    }
  }
}