@use '../helpers' as *;

.list {
  padding-left: rem(25);
  list-style-type: disc;

  @include tablet {
    padding-left: rem(20);
  }

  &__item a {
    color: var(--color-accent);
  }

  &__item:not(:last-child) {
    margin-bottom: rem(8);
  }

  &_no-list-style {
    list-style-type: none !important;
    padding-left: 0 !important;
  }

  &_number-list {
    list-style-type: decimal;
  }

  &_gap-5 {

    .list__item:not(:last-child) {
      margin-bottom: rem(5);
    }
  }

  &_gap-10-8-8 {

    .list__item:not(:last-child) {
      margin-bottom: rem(10);

      @include tablet {
        margin-bottom: rem(8);
      }
    }
  }

  &_gap-15 {

    .list__item:not(:last-child) {
      margin-bottom: rem(15);
    }
  }
}