@use '../helpers' as *;

.modal {
  position: fixed;
  inset: 0;
  background: #2C375650;
  z-index: 5000;
  transition: opacity var(--transition-duration);
  opacity: 0;
  pointer-events: none;

  @media (forced-colors: active) {
    border: 1px solid CanvasText; // Добавляем границу, чтобы окно было видно
  }

  &.is-open {
    opacity: 1;
    pointer-events: auto;

    .modal__block {
      transform: translateY(0);
    }
  }
  &:not(.is-sent) {
    .modal__sent {
      display: none;
    }
  }
  &.is-sent {
    .feedback {
      display: none;
    }
  }

  &__close {
    @include square(40);

    top: rem(10);
    right: rem(10);

    @include tablet {
      @include square(36);
    }

    @include mobile {
      width: auto !important;
      min-width: auto !important;
      height: auto !important;
      min-height: auto !important;
      gap: rem(10);
      padding-block: rem(10);
      top: rem(24);
      left: rem(20);
      font-size: rem(14);
    }

    svg {
      width: rem(15);
      height: auto;

      @include tablet {
        width: rem(13);
      }

      @include mobile {
        width: rem(5);
        height: rem(9);
      }
    }
  }

  &__block {
    width: 100%;
    max-width: rem(710);
    background: var(--color-gray-alt);
    padding: rem(20);
    transform: translateY(20px);
    transition: transform var(--transition-duration);

    @include tablet {
      padding: rem(15);
    }

    @include mobile {
      background: var(--color-light);
      height: 100%;
      width: 100%;
      padding: rem(90) rem(20) rem(35);
      overflow-y: auto;
    }
  }

  &__title {
    margin-bottom: rem(20);

    @include tablet {
      margin-bottom: rem(10);
    }
  }

  .feedback__subtitle {
    margin-bottom: rem(20);
  }
  .feedback__code-block {

    @include mobile {
      width: 100%;
    }
  }
  .feedback__input, textarea, .feedback__code-input {

    @include mobile {
      background: var(--color-light-alt);
    }
  }
  .form {
    padding: 0;
    background: transparent;
  }
  .feedback__code {
    margin-bottom: rem(20);

    @include tablet {
      margin-bottom: rem(25);
    }
  }
  .feedback__text {
    margin-bottom: rem(20);
  }
}